FLASK_ENV=development
FLASK_DEBUG=True
FLASK_HOST=0.0.0.0
FLASK_PORT=5000

# Path ke model (relatif dari folder backend/)
MODEL_PATH=../ml-model/model/plant_disease_model.h5
LABELS_PATH=../ml-model/model/class_labels.json

# CORS: URL frontend Next.js
FRONTEND_URL=http://localhost:3000

# Upload config
MAX_FILE_SIZE_MB=10

# PostgreSQL Database (via Docker)
# Kredensial ini sesuai dengan docker-compose.yml
# Host = localhost karena port 5432 di-forward dari container ke host
DATABASE_URL=postgresql://plantscan_user:plantscan_pass@localhost:5434/plantscan_db

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

