# Python
__pycache__/
*.py[cod]
*.pyo
*.pyc
.Python

# Virtual environment
venv/
env/
.venv/

# Environment variables
.env

# Model files (terlalu besar untuk Git)
../ml-model/model/*.h5
# ../ml-model/model/*.tflite  # allow tflite because it's small
../ml-model/logs/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
